aiofiles==24.1.0
beautifulsoup4==4.12.3
fastapi==0.115.3
hnswlib==0.8.0
html2text==2024.2.26
httpx==0.27.2
ifaddr==0.2.0
libsass==0.23.0
markdown2==2.5.1
matplotlib==3.9.2
mesop==0.12.6
nicegui_highcharts==2.0.2
pyecharts==2.0.6
Pygments==2.18.0
pyinstaller==6.10.0
pytest==8.3.3
python-socketio==5.11.4
Requests==2.32.3
selenium==4.25.0
starlette==0.41.0
tinydb==4.8.2
tqdm==4.66.5
typing_extensions==4.12.2
uiautomation==2.0.20
uvicorn==0.32.0
vbuild==0.8.2
webview==0.1.5
llama-cpp-python
